@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* ////////////////// NAV ////////////////// */

nav {

    width: 100%;
    padding: 1rem;
    background: linear-gradient(#5bc3ff, #98cdff);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

nav h1 {

    border-bottom: 2px solid goldenrod ;
}

.nav-botones {

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-btn {

    padding: 1rem;
    background-color: transparent;
    border: none;
    
    font-weight: 600;
    cursor: pointer;

    transition: transform 0.3s ease;
}

.nav-btn:hover { color: gold; transform: scale(1.1); }


/* ////////////////// MAIN ////////////////// */

body { background-color: azure; display: flex; flex-direction: column; align-items: center; gap: 2rem; }

form {

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: large;
}

.input-busqueda {

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input-busqueda input { padding: 5px; border: 1px solid black; border-radius: 5px; }

.input-busqueda button { padding: 5px; border: 1px solid black; border-radius: 5px; background: transparent; cursor: pointer; }


/* ////////////////// CLIMA ////////////////// */

.seccion-clima { 

    padding: 2rem;
    width: 50%;
    max-width: 400px;
    border-radius: 20px;

    background: linear-gradient(#5bc3ff, #98cdff);
    box-shadow: 10px 10px 16px 0px rgba(136,135,148,1);
}


.cuadro-clima {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.ciudad-clima {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.ciudad-clima img { width: 4rem; }

.datos-clima {

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    font-weight: 600;
    border: 2px solid #0c4566;
    border-radius: 10px;
}



/* ////////////////// MEDIA QUERIES ////////////////// */


/* ///////////////////// TABLET ///////////////////// */
@media only screen and (min-width: 541px ) and (max-width: 768px) {

    .seccion-clima { width: 90%; }
}

/* ///////////////////// CELULAR ///////////////////// */
@media only screen and (min-width: 376px ) and (max-width: 540px) {

    nav { justify-content: center; }
    .nav-botones { display: none; }

    .seccion-clima { width: 90%; }
}

/* ///////////////////// CELU-S  ///////////////////// */
@media only screen and (max-width: 375px) {

    nav { justify-content: center; }
    .nav-botones { display: none; }

    .seccion-clima { width: 90%; padding: 1.5rem; margin-top: 2rem; }
    .ciudad-clima { font-weight: 600; }
    .datos-clima { font-size: small; }
}
